/*
*
*= require font-awesome.min
*
*/

/* OVERRIDE GEM */
.awesome-share-buttons {
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
  a {
    color: #000;
    margin-right: 10px;
    &.awesome-share-buttons-facebook {
      color: #3b5998;
      &:hover {
        color: #3b5998;
      }
    }
    &.awesome-share-buttons-twitter {
      color: #00aced;
      &:hover {
        color: #00aced;
      }
    }
    &.awesome-share-buttons-google_plus {
      color: #dd4b39;
      &:hover {
        color: #dd4b39;
      }
    }
  }
}
